# Base de données (SQLite pour la simplicité de mise en route)
DATABASE_URL="file:./dev.db"

# NextAuth
# Générer un secret avec : openssl rand -base64 32
NEXTAUTH_SECRET="change-me-please-with-a-random-secret"
NEXTAUTH_URL="http://localhost:3000"
